* {
    font-family: Montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.heading {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
}

.sub-heading{
    margin-top: 10px;
}

.underline{
    text-decoration: underline;
}